<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atecresa.application"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name="com.atecresa.application.Inicio"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_2019"
        android:label="@string/app_name"
        android:theme="@style/MygestAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name="com.atecresa.manualpdf.ManualPDFActivity" />
        <activity
            android:name="com.atecresa.activities.LoginV2"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- TODO Esta será la nueva activity de lanzamiento -->

            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.clientes.ClientesActivity"
            android:label="@string/title_activity_clientes"
            android:theme="@style/MygestAppTheme.NoActionBar" />
        <activity
            android:name="com.atecresa.preferencias.PreferenciasActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme"> <!-- @android:style/Theme.Holo -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.SelectorMesa"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.ComandaActivityV3"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppThemeComanda">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- NUEVA ACTIVITY DE COMANDA -->
        <activity
            android:name="com.atecresa.activities.SelectorMesasLibres"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.Buscador"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.BuscadorClientes"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.SelectorPedidos"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.Pedido"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.activities.Vinculos"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.cocina.Cocina_Activity_v2"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atecresa.cocina.Cocina_Activity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/MygestAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.atecresa.activities.PrintDoc" />
        <activity
            android:name="com.atecresa.gestionCobros.tpv.ActivityCobrosTPV"
            android:label="@string/title_activity_cobro"
            android:theme="@style/MygestAppTheme" />
        <activity
            android:name="com.atecresa.gestionCobros.canarypay.CanarypayActivity"
            android:launchMode="singleTop"
            android:theme="@style/MygestAppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.atecresa.gestionCobros.cloud.CobroCloudActivity"
            android:theme="@style/MygestAppTheme" />
        <activity
            android:name="com.atecresa.activities.Visor_Docs"
            android:theme="@style/MygestAppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name="com.atecresa.preferencias.Share_Manager$DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.atecresa.comunicaciones.servicios.CocinaService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.atecresa.comunicaciones.servicios.ServicioSocketCnx" />
    </application>


</manifest>